<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <display-name>TrocEnchere</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletConnexionBDD</display-name>
    <servlet-name>ServletConnexionBDD</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.ServletConnexionBDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnexionBDD</servlet-name>
    <url-pattern>/servletconnexionbdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreerUnCompte</display-name>
    <servlet-name>CreerUnCompte</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.CreerUnCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreerUnCompte</servlet-name>
    <url-pattern>/creeruncompte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Vendre</display-name>
    <servlet-name>Vendre</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.Vendre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Vendre</servlet-name>
    <url-pattern>/vendre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Categories</display-name>
    <servlet-name>Categories</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.Categories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Categories</servlet-name>
    <url-pattern>/categories</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterCategorie</display-name>
    <servlet-name>AjouterCategorie</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.AjouterCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterCategorie</servlet-name>
    <url-pattern>/ajouter_categorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profil</display-name>
    <servlet-name>Profil</servlet-name>
    <servlet-class>fr.eni.trocenchere.servlets.Profil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
</web-app>